.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.testFdRow {
    border: 3px solid red;
}

.testFdCol{
    border: 3px dotted blue
}

.testFdCont{
    border: 1px dotted green
}

.FdCol{
    margin-top: 10px;
}


.parent{
    position:relative;
}
  
.leftChild{
    left:0; 
    position:absolute;
  }

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
  }